<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>User Profile</title>
    <link rel="stylesheet" href="/style.css">
    <script src="script.js" defer></script>
    
</head>
<body>

    <div class="container">
        <h1>User Profile</h1>
        <h3 class="center">Name: <%= name %></h3> 
        <h3 class="center">Role: <%= role %></h3>    
    </div>
 <div class="container">
    <div>   
        <h3 class="center">Inventory: <%= inventory %></h3>
        <h3 class="center">Health: <%= health %></h3>
        <h3 class="center">Stamina: <%= stamina %></h3>
        <div class="color-options">
    </div>

    <a href="/">Go to home(this will restart your data)</a>
    <a href="/docs">Check notes</a>
    <a href="/room">Use rusty key to leave room?</a>
</div>


















</body>
</html>

