<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Room Information</title>
    <link rel="stylesheet" href="/style.css">
    <script src="script.js" defer></script>
</head>
<body>


    <div class="container">
       
        <h1>Room Name: <%= name %></h1>
        <div class="info-box">
            <h2>Event Description</h2>
            <p><%= event %></p>
        </div>
       
        <div class="info-box">
            <h2>Turmoil</h2>
            <p><%= turmoilEffect %></p>
            <p>Player has: <%= turmoilType %></p>


        </div>

        <div class="info-box">
            <h2>"You look around for the key you need"</h2>
            <button class="custom-button redirectNext"><%= keySpawnLocation%></button>
            <button class="custom-button redirectDead"><%= falseKeySpawnLocation%></button>

        </div>
    </div>
 <a href="/">Go to home(this will restart your data)</a>
 <a href="/docs">Check notes</a>
</body>
</html>


